@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-pt-sans-caption: "PT Sans Caption", sans-serif;
  --font-poppins: "Poppins", serif;
  --color-green: #00c200;
  --color-red: #ff0000;
  --color-gray: #f5f5f5;
}

/* Navbar Content */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.logo img {
  width: 60px;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}

.bar input {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.bar span {
  width: 23px;
  height: 2.1px;
  background-color: black;
  border-radius: 20px;
}

.bar span:nth-child(3) {
  width: 13px;
}

.bar span:nth-child(4) {
  width: 18px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav li {
  list-style: none;
  font-family: var(--font-poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  position: relative;
}

nav a {
  text-decoration: none;
  font-family: var(--font-poppins);
  color: black;
}

.Membership {
  background-color: var(--color-green);
  padding: 13px 40px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
}

.nav {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: absolute;
  top: 40px;
  background-color: var(--color-gray);
  padding: 20px;
  width: 100px;
  border-radius: 10px;
  gap: 10px;
  transform: translateY(-200%);
  opacity: 0;
  transition: 0.4s ease-out;
}

.nav.open {
  transform: translateY(0);
  opacity: 1;
}

.acc svg {
  transition: 0.3s;
}

.acc svg.top {
  transform: rotate(-180deg);
}

.nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Sidebar Content */
.sidebar ul {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-gray);
  padding-top: 50px;
  padding-left: 50px;
  height: 100vh;
  width: 250px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  transform: translateX(0);
  transition: transform 0.5s;
}

.sidebar ul::after {
  position: absolute;
  content: "";
  background-color: var(--color-green);
  width: 10px;
  height: 100px;
  right: -10px;
  top: 400px;
  border-radius: 30px;
  border: 5px solid white;
}

.sidebar ul::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 33px;
  background-color: white;
  top: 437px;
  border-radius: 50px;
  right: -1px;
  z-index: 999;
}

.sidebar ul.close {
  transform: translateX(-90%);
}

.sidebar ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 17px;
  position: relative;
}

.sidebar ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-green);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.sidebar ul li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.sidebar ul li a:active::after {
  transform-origin: left;
  transform: scaleX(1);
}

.sidebar ul li:nth-child(1) {
  padding-top: 130px;
}

.feed {
  position: absolute;
  bottom: 20px;
}

/* WhatsApp */
.whatsapp {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 40px;
  animation: wa-bounce 2s ease-in-out 0s infinite alternate both;
}

.whatsapp::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-red);
  border-radius: 30px;
  right: 45px;
  top: 45px;
}

@keyframes wa-bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-32px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Dashboard */
.list-server {
  width: 65%;
  position: absolute;
  top: 100px;
  right: 15rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.list-server.long {
  width: 100%;
}

.list-server::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 7px;
  right: -160px;
  top: 7px;
  background-color: var(--color-red);
  transition: 35ms;
  border-radius: 50px;
}

.list-server:active {
  transform: translateY(5px);
}

.list-server .server-dash {
  width: 100%;
  border: 3px solid var(--color-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  background-color: white;
  box-shadow: 0px 10px 3px var(--color-gray);
  border-radius: 10px;
  transition: 5ms;
}

.list-server .server-dash:active {
  box-shadow: none;
}

.list-server .server-dash .spec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.list-server .server-dash .name-srv-list h3,
.list-server .server-dash .name-srv-list p {
  font-family: var(--font-pt-sans-caption);
}

.list-server .server-dash .name-srv-list h3 {
  font-size: 27px;
}

.list-server .server-dash .name-srv-list p {
  font-size: 13px;
  font-weight: 400;
}

.list-server .server-dash .spec .memory,
.list-server .server-dash .spec .cpu,
.list-server .server-dash .spec .drive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list-server .server-dash .spec .memory .logo svg,
.list-server .server-dash .spec .cpu .logo svg,
.list-server .server-dash .spec .drive .logo svg {
  background-color: var(--color-green);
  padding: 10px;
  border-radius: 50px;
}

.list-server .server-dash .spec .memory .mem-txt h3,
.list-server .server-dash .spec .cpu .cpu-txt h3,
.list-server .server-dash .spec .drive .drive-txt h3 {
  font-family: var(--font-pt-sans-caption);
}

.list-server .server-dash .spec .memory .mem-txt p,
.list-server .server-dash .spec .cpu .cpu-txt p,
.list-server .server-dash .spec .drive .drive-txt p {
  font-family: var(--font-pt-sans-caption);
  font-size: 10px;
}
